#month>table{
    border: 1px solid #FFF;
    width: 100%;
    text-align: center;
}
#month{
    margin: 20px 0;
    min-height: 170px;
}
td.date_slot:hover{
    background-color: #2aabd2;
	cursor: pointer;
}
.modal-body>#event{
    width: 272px;
}
.modal-body>textarea{
    margin-top: 5px;
    min-height: 50px;
    width: 272px;
}
#event_result{
    text-align: center;
}
.event_date{
    background-color: azure;!important;
}
.wallpaper{
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #2e6da4;
}
#debug{
    background-color: #2aabd2;
}