#month>table{
    border: 1px solid #000;
    width: 100%;
    text-align: center;
}
#month{
    margin: 20px 0;
    min-height: 170px;
}
td.date_slot:hover{
    background-color: #2aabd2;
}
.modal-body>#event{
    width: 272px;
}
.modal-body>textarea{
    margin-top: 5px;
    min-height: 50px;
    width: 272px;
}